[submodule "src/gk-userland"]
	path = src/gk-userland
	url = https://github.com/jncronin/gk-userland
[submodule "src/mednafen"]
	path = src/mednafen
	url = https://github.com/jncronin/mednafen-git
[submodule "src/mesa"]
	path = src/mesa
	url = https://github.com/jncronin/mesa
[submodule "src/sdlgl_test"]
	path = src/sdlgl_test
	url = https://github.com/jncronin/sdlgl_test
[submodule "src/dc"]
	path = src/dc
	url = https://github.com/jncronin/DinguxCommander
